<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<br/>
<br/>
<br/>
<br/>
<div class="mx-auto" style="width: 300px">
  <div>
    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
  </div>
  <div class="mx-auto" style="width: 300px">
    <form th:method="POST" th:action="@{/delete}" th:object="${userId}">
      <div class="form-group">
        <label class="col-form-label">Id</label>
        <input type="text" class="form-control" th:field="${userId.id}" readonly>
      </div>
      <div class="form-group">
        <label class="col-form-label">Username</label>
        <input type="text" class="form-control" th:field="${userId.username}" readonly>
      </div>
      <div class="form-group">
        <label  class="col-form-label">Password</label>
        <input type="text" class="form-control" th:field="${userId.password}" readonly>
      </div>
      <div th:object="${new_user_role}" class="form-group">
        <label for="roles">Role</label>
        <select th:field="*{name}" multiple class="form-control" id="roles" readonly>
          <option value="ROLE_ADMIN">ADMIN</option>
          <option value="ROLE_USER">USER</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Delete User</button>
        <a class="btn btn-primary" href="/admin" role="button">Close</a>
      </div>
    </form>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>